.header{
    background-color: lightcoral;
   color: white;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.1);
}