.portfolio{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.player-image{
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px rgba (0,0,0,0.2);
}
h2{
    color:darkcyan;
    margin-bottom: 10px;
}
p{
    color:lightblue;
    line-height: 1.5;
}